<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand"></a>
  <h3 class="">Angular Crud</h3>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <h3>Libros</h3>
        <li 
        *ngFor="let libros of LibrosArray"
        class="list-group-item list-group-item-action"
        (click)="openForEdit(libros)"
        [class.active]="libros==selectedLibros">
        <span class=" badge bg-primary">{{libros.id}} </span>
        {{libros.name}}-
        {{libros.autor}}-
        {{libros.date}}-
        {{libros.state}}
        </li>
      </ul>


      <div class="card mt-4">
        <div class="card-boddy">
          <div class="card-title">      
          </div>
            <div class="form-control">
              <h4>Formulario</h4>

            <div class="form-group">
              <input type="text" [(ngModel)]="selectedLibros.name" placeholder="Insert a name" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedLibros.autor" placeholder="Insert an autor" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedLibros.date" placeholder="Insert a date (DAY/MONTH/YEAR)" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedLibros.state" placeholder="Insert a state (Disponible/Dañado/Perdido/Prestado)" class="form-control">
            </div> 
            


            <button (click)="addorEdit()" class="btn btn-primary">
              Submit
            </button>
            <button *ngIf="selectedLibros.id !==0" 
            class="btn btn-danger"
            (click)="delete()">
              Delete
            </button>
            </div>    
        </div>
      </div>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>